<h3 class="center">Favorite Fruits</h3>
<p  class="center" >{{selectedFruit}}</p>

<div  class="center" [hidden] = "clearFilterUI" > 
    <button  (click)="clearFilter()" >Clear Filter</button> 
</div>

<div >
    <div>
        <table class="table_1">
            <tr style="height:20px" (click)="clickedFruit(fruit)" class = "tr_clck" *ngFor="let fruit of fruitsArr">
                <td>{{fruit.name}}</td>
                <td>
                    <div class="chart" style="margin-top:30px !important"></div> 
                    <div [ngStyle]="{'position': 'relative', 'height': '30px','background':'black', 'top': '-31px', 'width':fruit.count*4+'px'}" ></div> 
                </td>
            </tr>
        </table>
        <table class="table_2">
            <tr *ngFor="let data of clonedAllData">
                <td>{{data.name}}</td>
                <td>{{data.favoriteFruit}}</td>
            </tr>
        </table>
    </div>
</div>
